footer{
    border-radius: 6px;
    border-top: solid #b1b1b1;
    background-color: rgb(241, 240, 240);
    font-family: odibee sans;
    font-size: medium;
    text-align-last: center;
    padding: 0 20px;
    .push{
        height: 28px;
    }
}